@charset "UTF-8";


header {
    width: 100%;
    background-color: #bbbbbb;
    padding: 20px 0;
    border-bottom: 5px solid #1d0d0d;
}

.caixa {
    position: relative;
    max-width: 890px;
    margin: auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.title-prin {
    padding-left: 25px;
    font-weight: bold;
    font-size: 33px;
}

#banner {
    width: 100%;
}

.segundo {
    background: #cccccc;
    width: 100%;
}

p {
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    padding: 3px 30px;
}

.title-center {
    text-align: center;
    font-size: 25px;
}

p strong {
    color: red;
}

.bene {
    background-color: grey;
    margin: auto;
}

h3 {
    background-color: rgb(29, 13, 13);
    color: #ffffff;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: 0px;
    margin-left: -1px;
    padding: 2%;
}

.lista {
    margin: 10px 0px;
    padding-left: 3%;
    display: inline-block;
    vertical-align: top;
    list-style-position: inside;
    text-align: left;
}

.itens {
    font-style: italic; 
    list-style-type: disc;
}

#beneficio {
    width: 50%;
    padding: 10px;
}